.bg-category-1 {
  background-image: url('../../assets/images/category1.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-category-2 {
  background-image: url('../../assets/images/category2.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-category-3 {
  background-image: url('../../assets/images/category3.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.story-banner {
  background-image: url('../../assets/images/banner2.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
