@import 'layout/404/index.scss';
@import 'layout/PermissionDenied/index.scss';

:root {
  color: white;
}

.font-forum {
  font-family: 'forum', serif;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.swiper-button-next {
  color: white !important;
  transform: translate(40%, -100%) !important;
}

.swiper-button-prev {
  color: white !important;
  transform: translate(-40%, -100%) !important;
}
